@using System.Reflection;
@using BlazorPluginsExample.NavigationPluginApi;
@using BlazorPluginsExample.PluginApi.Shared;
@inject GenericPluginProvider<INavigationPlugin> NavigationPluginProvider;

<Router 
    AppAssembly="@typeof(App).Assembly"
    AdditionalAssemblies="@AdditionalAssemblies">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code
{
    private IReadOnlyList<Assembly> AdditionalAssemblies =>
        NavigationPluginProvider
            .GetPlugins()
            .Select(p =>
            {
                return p.GetType().Assembly;
            })
            .ToList();
}